body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.middle-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.invisible-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: inherit;    
}